{% extends "index.html" %}

{% block extrahead %}
    <style>
        table {
            table-layout: fixed;
            text-align: center;
        }

        th, td {
            white-space: nowrap;
        }

        p {
            margin: 0px;
        }
    </style>
{% endblock %}

{% block content %}
    {% if facility_list %}
    <table cellspacing=1, border=1>
        <thead>
        <th>시/군</th>
        <th>시설명</th>
        <th>영업 상태</th>
        <th>
            <p>지번 주소</p>
            <p>도로명</p>
        </th>
        <th>우편번호</th>
        </thead>
        <tbody>
        {% for facility in facility_list %}
            <tr>
                <td>{{ facility.SIGUN_NM }}</td>
                <td><a href="{% url 'facility-detail' facility.pk %}">{{ facility.BIZPLC_NM }}</a></td>
                <td>{{ facility.BSN_STATE_NM }}</td>
                <td>
                    <p>{{ facility.REFINE_LOTNO_ADDR }}</p>
                    {% if facility.REFINE_ROADNM_ADDR %}
                        <p>{{ facility.REFINE_ROADNM_ADDR }}</p>
                    {% endif %}
                </td>
                <td>{{ facility.REFINE_ZIP_CD }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div align="center">검색 결과 없음</div>
    {% endif %}
{% endblock %}