{% extends "index.html" %}

{% block extrahead %}
    <style>
        table {
            table-layout: fixed;
            text-align: center;
            margin: 0 auto;
        }

        th, td {
            white-space: nowrap;
        }

        div.detail-table {
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    <p></p>
    <button type="submit"></button>
    <div class="detail-table">
        <h4><p>{{ facility.BIZPLC_NM }}</p>상세정보</h4>
        <form action="{% url 'members:like-facility' facility.id %}" method="post">
            {% csrf_token %}
            <button type="submit">내 관심목록에 추가하기</button>
        </form>
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    </div>
    {% include 'facilities/facility_info.html' with facility=facility %}
{% endblock %}
