<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="" method="get">
    <input type="text" name="q" value="{{ q }}">
    <input type="submit" value="검색">
</form>

<table cellspacing=1 width=700 border=1>
    <thead>
    <th width=50><p align=center>번호</p></th>
    <th width=50><p align=center>이름</p></th>
    <th width=50><p align=center>제목</p></th>
    <th width=50><p align=center>주소</p></th>
    <th width=50><p align=center>도로명</p></th>
    <th width=50><p align=center>우편번호</p></th>
    </thead>
    <tbody>
    {% for facility in facility_list %}
        <tr>
            <td width=50><p align=center>{{ facility.SIGUN_NM }}</p></td>
            <td width=50><p align=center>{{ facility.BIZPLC_NM }}</p></td>
            <td width=50><p align=center>{{ facility.BSN_STATE_NM }}</p></td>
            <td width=50><p align=center>{{ facility.REFINE_LOTNO_ADDR }}</p></td>
            <td width=50><p align=center>{{ facility.REFINE_ROADNM_ADDR }}</p></td>
            <td width=50><p align=center>{{ facility.REFINE_ZIP_CD }}</p></td>
        </tr>
    {% empty %}
        No Data
    {% endfor %}
    </tbody>
</table>

</body>
</html>